# Node.js
node_modules/
npm-debug.log
yarn-debug.log
yarn-error.log
package-lock.json

# Environment variables
.env

# Logs
logs/
*.log
*.log.*

# Editor folders
.vscode/
.idea/

# System files
.DS_Store
Thumbs.db

# Build / dist
dist/
build/

# Optional: temp files
tmp/
temp/
